* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow: hidden !important;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -2;
}

.circles .circle {
  position: absolute;
  display: block;
  border-radius: 100%;
  background-color: #f8ccc5;
}

.circles .circle1 {
  top: -42%;
  right: 2%;
  width: 90vh;
  height: 90vh;
}

.circles .circle2 {
  top: -15%;
  right: -21.5%;
  width: 104vh;
  height: 104vh;
}

.illustration {
  height: 100vh;
  justify-content: right;
  padding-right: 13vh;
}

.illustration .animated {
  height: 80vh;
  margin-top: 8vh;
}

svg#attendance-svg:not(.animated) .animable {
  opacity: 0;
}

svg#attendance-svg.animated #attendance-svg--background-complete--inject-34 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0.5s;
  opacity: 0;
}

svg#attendance-svg.animated #attendance-svg--Device--inject-34 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}

svg#attendance-svg.animated #attendance-svg--Calendar--inject-34 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 3s Infinite linear wind;
  animation-delay: 0.7s, 1.2s;
  opacity: 0;
}

svg#attendance-svg.animated #attendance-svg--character-4--inject-34 {
  animation: 0.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight, 3s Infinite linear floating;
  animation-delay: 0s, 0.7s;
}

svg#attendance-svg.animated #attendance-svg--character-3--inject-34 {
  animation: 0.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft, 3s Infinite linear floating;
  animation-delay: 0s, 0.7s;
}

svg#attendance-svg.animated #attendance-svg--character-2--inject-34 {
  animation: 0.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight, 3s Infinite linear floating;
  animation-delay: 0s, 0.7s;
}

svg#attendance-svg.animated #attendance-svg--character-1--inject-34 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 3s Infinite linear floating;
  animation-delay: 0s, 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main-cont {
  margin-right: 0px;
  display: flex;
  height: 100vh;
  align-items: center;
}

.left-cont {
  margin-top: -28px;
}

.m-btn.dt {
  display: block;
}

.m-btn.mb {
  display: none;
}

.content {
  width: 100%;
  margin-left: 7vh;
  width: 50vh;
}

.content .headline {
  font-size: 7.4vh;
  margin-bottom: 0.6rem;
  margin-top: 1.8vh;
  font-family: "Sigmar", cursive;
}

.content .btn-cont {
  flex-direction: column;
  display: flex;
}

.logo {
  height: 30vh;
  width: 31vh;
}

.logo img {
  height: 100%;
  width: 100%;
}

.m-btn {
  margin-top: 3.4vh;
  padding: 1.59vh 4.06vh;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2.5vh;
  font-size: 2.4vh;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  font-family: "pacifico";
  background-color: #f2bab1;
  color: #a33131;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 8px 0.6px rgba(223, 122, 122, 0.6156862745);
  transition: all 0.3s ease-in-out;
}

.m-btn:not(.disabled):hover {
  background-color: #f0aa9f;
  color: #922929;
  box-shadow: 0 0 10px 1px rgba(223, 122, 122, 0.6156862745);
  transform: scale(1.09);
}

.m-btn:active, .m-btn.active {
  transform: scale(1.05);
  background-color: #e99b8f;
  color: #892424;
  box-shadow: 0 0 9px 0.7px rgba(223, 122, 122, 0.6156862745);
  transition: all 0.1s ease-in-out;
}

.m-btn.disabled {
  color: #ba5353;
  background-color: #efb5ac;
  cursor: default;
  pointer-events: none !important;
}

@media screen and (max-width: 765px) {
  .content {
    width: 100%;
    margin-left: 45px;
    width: 60%;
  }
  .m-btn.dt {
    display: none;
  }
  .m-btn.mb {
    display: block;
  }
  .left-cont {
    margin-top: -54px;
  }
  .illustration {
    display: none !important;
  }
  .circles .circle1 {
    top: -148px;
    right: 25px;
    width: 332px;
    height: 332px;
  }
  .circles .circle2 {
    top: -30px;
    right: -154px;
    width: 394px;
    height: 394px;
  }
}
@media screen and (max-width: 490px) {
  .logo {
    height: 194px;
    width: 200px;
    margin-top: 10px;
  }
  .content {
    width: 100%;
    margin-left: 45px;
    width: 70%;
  }
  .content .headline {
    font-size: 42px;
    margin-bottom: 18px;
    margin-top: 10px;
    font-family: "Sigmar", cursive;
  }
  .circles .circle1 {
    top: -19%;
    right: -48px;
    width: 271px;
    height: 271px;
  }
  .circles .circle2 {
    top: 49px;
    right: -139px;
    width: 280px;
    height: 280px;
  }
  .m-btn {
    font-size: 16px;
    letter-spacing: 0.8px;
    white-space: nowrap;
    text-overflow: clip;
    margin-bottom: 3px;
  }
  .m-btn:not(.disabled):hover {
    background-color: #f0aa9f;
    color: #922929;
    box-shadow: 0 0 10px 1px rgba(223, 122, 122, 0.6156862745);
    transform: scale(1.05);
  }
}
@media screen and (max-width: 360px) {
  .logo {
    height: 200px;
    width: 206px;
    margin-top: 6px;
    margin-left: -8px;
  }
  .left-cont {
    margin-top: -64px;
  }
  .content {
    width: 100%;
    margin-left: 37px;
    width: 70%;
  }
  .content .headline {
    font-size: 38px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Sigmar", cursive;
  }
  .circles .circle1 {
    top: -104px;
    right: -14px;
    width: 200px;
    height: 200px;
  }
  .circles .circle2 {
    top: -3px;
    right: -113px;
    width: 220px;
    height: 220px;
  }
  .btn-cont {
    margin-bottom: 10px;
  }
  .m-btn {
    font-size: 16px;
    letter-spacing: 0.8px;
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: clip;
  }
}
/*# sourceMappingURL=index.css.map */